.NavContainer{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 padding-bottom: 8px;
}
.Nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 60px;
 
  position: relative;
}
.Nav > div:nth-child(1){
  position: absolute;
  left: 40px;
  width: auto;
}

.Nav > ul:nth-child(2){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 30px;
  height: 60px;
  margin-bottom: 0px;
  position: absolute;
  right: 0px;
  width: 70%;
  background-color: pink;
  /* clip-path: polygon(1% 5.84%, 40.38% 3.2%, 74.38% 21.62%, 94.63% 7.68%, 98.88% 230px, 40.38% 84.18%, 11.26% 95.44%);
   */
   /* clip-path: polygon(0 0, 100% 0, 30% 100%, 0 100%); */
   clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  padding-right: 40px;
}
.nav > ul:nth-child(2) > li{
  text-decoration: none;
  height: 100%;
  margin-bottom: 10px;
  
}
.Nav > ul:nth-child(2) > li > a > span:nth-child(2){
  text-decoration: none;
  height: 100%;
  color: white;
  font-size: 15px;
  font-weight: 500;
  
}



.Nav > div:nth-child(3){
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%;
  background-color: pink;
  z-index:  1px;
  clip-path: polygon(0 0 ,100% 0,30% 100%, 0 100%);
}

.cool-link {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  color: red;
  text-decoration: none;
}


.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  /* background: #000; */
  background: red;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}


.Auth{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
  border-bottom: solid 0.1em gold;
  border-bottom-color: hsla(100%, 50%, 25%, 0.75);
}
.Auth > button{
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  width:  100px;
}
.Auth > button:nth-child(1){
  background-color: gray;
}
.Auth > button:nth-child(2){
  background-color: #0b5ed7;
  color: white;
}