



/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  z-index: 1;
  background-color: rgba(155, 199, 10, 0.95);
}

.page-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 20px;
  border-radius: 10px;
  color: white;
  background: #08a6df;
  transition: background 0.3s;
}

.page-header button svg {
  flex-shrink: 0;
  margin-left: 5px;
  fill: currentColor;
}

.page-header button:hover {
  background: #0ab8f6;
}



/* STICKY STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header.sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(230, 207, 8, 0.1);
  padding: 8px 0;
  backdrop-filter: blur(10px);
  animation: slideDown 0.85s ease-out;
}

.page-header.sticky img {
  max-width: 80%;
}

.page-header.sticky button {
  font-size: 14px;
  padding: 7px 10px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.6s;
  z-index: 10000;
}
header .logo{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
}

header ul{
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;

}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 1.6s;
}